<h1><%= I18n.t(:title, scope: [:system]) %></h1>

<p><%= I18n.t(:description, scope: [:system]) %></p>

<h2><%= I18n.t(:subtitle, scope: [:system]) %></h2>

<p><%= I18n.t(:body, scope: [:system]) %></p>

<%= form_tag('/result', method: :post) do %>
  <label>
    <%= I18n.t(:text, scope: [:system, :form]) %>: <%= text_field_tag 'name' %>
  </label>

  <br>

  <label>
    <%= radio_button_tag('lang', 'ja', check: true) %>
    <span><%= I18n.t(:ja, scope: [:system, :form, :radio]) %></span>
  </label>

  <label>
    <%= radio_button_tag('lang', 'en') %>
    <span><%= I18n.t(:en, scope: [:system, :form, :radio]) %></span>
  </label>
  <br>
  <%= submit_tag(I18n.t(:submit, scope: [:system, :form])) %>
<%- end %>
