<h1><%= I18n.t(:title, scope: [:system, :result]) %></h1>

<p>
  <span><%= I18n.t(:description, scope: [:system, :result]) %></span>
  <br>
  <br>
  <%= image_tag('image.jpg', size: '480x320') %>
</p>

<%= link_to I18n.t(:back, scope: [:system, :result]), root_path %>
